<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioBookPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BEB3ED961EB5AF1D0052EB78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEB3EDA71EB5AF1D0052EB78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEB3EDB21EB5AF1D0052EB78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
